.dado-contenedor i {
  width: 400px;
  height: 100px;
  /* background: red; */
  font-size: 150px;
  color: pink;
}
i {
}

.game__container {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.button__container button {
  background-color: blueviolet;
  background: transparent;
  position: relative;
  margin-top: 30px;
  font-family: "your umbrella demo";
  font-size: 2rem;
  text-transform: lowercase;
  color: white;
  border-radius: 10px;
  width: 200px;
  height: 70px;
  box-shadow: 1px 1px 10 px black;
}
.button__container button:hover {
  background-color: pink;
  transition: 0.9s;
}

.rolando {
  animation: roll 2s ease-in-out;
}

@keyframes roll {
  0% {
    transform: rotate(0deg) translate(3px, 3px);
    rotate: (20deg);
  }
  50% {
    transform: rotate(360deg) scale(0.5) skew(-200deg) translate(200px, 0px);
    color: purple;
  }
  100% {
    transform: rotate(0deg) skew(5deg) translate(3px, 3px);
  }
}
